body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn {
  background: #000;
  border: 1px solid #fff;
  color: #fff;
  margin: 0 5px;
  padding: 5px 10px;
}

.app {
  /*text-align: center;*/
}

.pull-right {
  float: right;
}

.header {
  background-color: #222;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.intro {
  font-size: large;
  margin: 20px;
  text-align: left;
}

.errorText {
  color: red;
}